## 데이터 불러오기
### 샘플 데이터 확인
- 서울교통공사의 각 호선 구간에 대한 정보만 나와있음.
- 1호선: 청량리~서울역
- 매월 5일 업데이트된다고 함

In [28]:
## https://data.seoul.go.kr/dataList/OA-12252/S/1/datasetView.do 서울시 지하철 호선별 역별 시간대별 승하차 인원 정보
import requests

url= "http://openapi.seoul.go.kr:8088/69576567536c736f3133357542784147/json/CardSubwayTime/1/1000/202307/"
req = requests.get(url)
print(req)

<Response [200]>

In [29]:
json_df = req.json()
# json_df

In [34]:
import pandas as pd

sub = json_df['CardSubwayTime']['row']
subway_1 = pd.DataFrame(sub)
print(subway_1.head(1))

  USE_MON LINE_NUM SUB_STA_NM  FOUR_RIDE_NUM  FOUR_ALIGHT_NUM  FIVE_RIDE_NUM  \
0  202307      1호선        서울역          577.0             37.0         8434.0

   FIVE_ALIGHT_NUM  SIX_RIDE_NUM  SIX_ALIGHT_NUM  SEVEN_RIDE_NUM  ...  \
0           9396.0       13088.0         51243.0         40143.0  ...

   TWENTY_THREE_ALIGHT_NUM  MIDNIGHT_RIDE_NUM  MIDNIGHT_ALIGHT_NUM  \
0                  13987.0             2297.0               2598.0

   ONE_RIDE_NUM  ONE_ALIGHT_NUM  TWO_RIDE_NUM  TWO_ALIGHT_NUM  THREE_RIDE_NUM  \
0           1.0           219.0           0.0             0.0             0.0

   THREE_ALIGHT_NUM   WORK_DT
0               0.0  20230803

[1 rows x 52 columns]

### 2023년 07월 데이터 불러오기

In [35]:
subway_1

,USE_MON,LINE_NUM,SUB_STA_NM,FOUR_RIDE_NUM,FOUR_ALIGHT_NUM,FIVE_RIDE_NUM,FIVE_ALIGHT_NUM,SIX_RIDE_NUM,SIX_ALIGHT_NUM,SEVEN_RIDE_NUM,...,TWENTY_THREE_ALIGHT_NUM,MIDNIGHT_RIDE_NUM,MIDNIGHT_ALIGHT_NUM,ONE_RIDE_NUM,ONE_ALIGHT_NUM,TWO_RIDE_NUM,TWO_ALIGHT_NUM,THREE_RIDE_NUM,THREE_ALIGHT_NUM,WORK_DT
0,202307,1호선,서울역,577.0,37.0,8434.0,9396.0,13088.0,51243.0,40143.0,...,13987.0,2297.0,2598.0,1.0,219.0,0.0,0.0,0.0,0.0,20230803
1,202307,1호선,시청,49.0,5.0,2381.0,4825.0,3784.0,22736.0,7558.0,...,4285.0,287.0,1085.0,0.0,12.0,0.0,0.0,0.0,0.0,20230803
2,202307,1호선,종각,108.0,3.0,3998.0,5425.0,4429.0,29059.0,6796.0,...,4456.0,982.0,927.0,0.0,1.0,0.0,0.0,0.0,0.0,20230803
3,202307,1호선,종로3가,170.0,3.0,4576.0,3215.0,4005.0,13121.0,5385.0,...,4813.0,1209.0,1932.0,2.0,19.0,0.0,0.0,0.0,0.0,20230803
4,202307,1호선,종로5가,63.0,1.0,2049.0,3610.0,3307.0,15768.0,6196.0,...,3523.0,262.0,906.0,0.0,0.0,0.0,0.0,0.0,0.0,20230803
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
611,202307,중앙선,오빈,8.0,0.0,290.0,38.0,601.0,333.0,862.0,...,244.0,3.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,20230803
612,202307,중앙선,양평,101.0,2.0,1899.0,122.0,3926.0,2333.0,8044.0,...,3696.0,98.0,965.0,0.0,0.0,0.0,0.0,0.0,0.0,20230803
613,202307,중앙선,원덕,99.0,2.0,325.0,3.0,707.0,170.0,990.0,...,260.0,3.0,90.0,0.0,0.0,0.0,0.0,0.0,0.0,20230803
614,202307,중앙선,용문,430.0,2.0,870.0,10.0,2414.0,548.0,4104.0,...,1539.0,0.0,696.0,0.0,0.0,0.0,0.0,0.0,0.0,20230803
615,202307,중앙선,지평,0.0,0.0,0.0,0.0,2.0,0.0,440.0,...,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,20230803

- 1호선~9호선만 남기고 삭제

In [40]:
subway_1 = subway_1[subway_1['LINE_NUM'].str.contains('호선')]
subway_1

,USE_MON,LINE_NUM,SUB_STA_NM,FOUR_RIDE_NUM,FOUR_ALIGHT_NUM,FIVE_RIDE_NUM,FIVE_ALIGHT_NUM,SIX_RIDE_NUM,SIX_ALIGHT_NUM,SEVEN_RIDE_NUM,...,TWENTY_THREE_ALIGHT_NUM,MIDNIGHT_RIDE_NUM,MIDNIGHT_ALIGHT_NUM,ONE_RIDE_NUM,ONE_ALIGHT_NUM,TWO_RIDE_NUM,TWO_ALIGHT_NUM,THREE_RIDE_NUM,THREE_ALIGHT_NUM,WORK_DT
0,202307,1호선,서울역,577.0,37.0,8434.0,9396.0,13088.0,51243.0,40143.0,...,13987.0,2297.0,2598.0,1.0,219.0,0.0,0.0,0.0,0.0,20230803
1,202307,1호선,시청,49.0,5.0,2381.0,4825.0,3784.0,22736.0,7558.0,...,4285.0,287.0,1085.0,0.0,12.0,0.0,0.0,0.0,0.0,20230803
2,202307,1호선,종각,108.0,3.0,3998.0,5425.0,4429.0,29059.0,6796.0,...,4456.0,982.0,927.0,0.0,1.0,0.0,0.0,0.0,0.0,20230803
3,202307,1호선,종로3가,170.0,3.0,4576.0,3215.0,4005.0,13121.0,5385.0,...,4813.0,1209.0,1932.0,2.0,19.0,0.0,0.0,0.0,0.0,20230803
4,202307,1호선,종로5가,63.0,1.0,2049.0,3610.0,3307.0,15768.0,6196.0,...,3523.0,262.0,906.0,0.0,0.0,0.0,0.0,0.0,0.0,20230803
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
471,202307,공항철도 1호선,운서,137.0,5.0,16179.0,794.0,22190.0,8497.0,30411.0,...,16694.0,339.0,5221.0,0.0,0.0,0.0,0.0,0.0,0.0,20230803
472,202307,공항철도 1호선,공항화물청사,4.0,0.0,592.0,1032.0,1364.0,7692.0,1891.0,...,198.0,2.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,20230803
473,202307,공항철도 1호선,인천공항1터미널,0.0,0.0,8083.0,9739.0,12372.0,18115.0,17154.0,...,8211.0,116.0,5743.0,0.0,0.0,0.0,0.0,0.0,0.0,20230803
474,202307,공항철도 1호선,인천공항2터미널,0.0,0.0,5584.0,5613.0,4944.0,11702.0,8166.0,...,1443.0,0.0,1971.0,0.0,0.0,0.0,0.0,0.0,0.0,20230803
475,202307,공항철도 1호선,영종,19.0,3.0,3551.0,188.0,11893.0,2524.0,16125.0,...,7515.0,122.0,2360.0,0.0,0.0,0.0,0.0,0.0,0.0,20230803

In [43]:
subway_1 = subway_1[~subway_1['LINE_NUM'].str.contains('공항')]
subway_1

,USE_MON,LINE_NUM,SUB_STA_NM,FOUR_RIDE_NUM,FOUR_ALIGHT_NUM,FIVE_RIDE_NUM,FIVE_ALIGHT_NUM,SIX_RIDE_NUM,SIX_ALIGHT_NUM,SEVEN_RIDE_NUM,...,TWENTY_THREE_ALIGHT_NUM,MIDNIGHT_RIDE_NUM,MIDNIGHT_ALIGHT_NUM,ONE_RIDE_NUM,ONE_ALIGHT_NUM,TWO_RIDE_NUM,TWO_ALIGHT_NUM,THREE_RIDE_NUM,THREE_ALIGHT_NUM,WORK_DT
0,202307,1호선,서울역,577.0,37.0,8434.0,9396.0,13088.0,51243.0,40143.0,...,13987.0,2297.0,2598.0,1.0,219.0,0.0,0.0,0.0,0.0,20230803
1,202307,1호선,시청,49.0,5.0,2381.0,4825.0,3784.0,22736.0,7558.0,...,4285.0,287.0,1085.0,0.0,12.0,0.0,0.0,0.0,0.0,20230803
2,202307,1호선,종각,108.0,3.0,3998.0,5425.0,4429.0,29059.0,6796.0,...,4456.0,982.0,927.0,0.0,1.0,0.0,0.0,0.0,0.0,20230803
3,202307,1호선,종로3가,170.0,3.0,4576.0,3215.0,4005.0,13121.0,5385.0,...,4813.0,1209.0,1932.0,2.0,19.0,0.0,0.0,0.0,0.0,20230803
4,202307,1호선,종로5가,63.0,1.0,2049.0,3610.0,3307.0,15768.0,6196.0,...,3523.0,262.0,906.0,0.0,0.0,0.0,0.0,0.0,0.0,20230803
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309,202307,9호선2~3단계,송파나루,1.0,0.0,2235.0,407.0,4531.0,1847.0,13211.0,...,4186.0,438.0,1566.0,0.0,1.0,0.0,0.0,0.0,0.0,20230803
310,202307,9호선2~3단계,한성백제,0.0,0.0,1120.0,289.0,3320.0,1572.0,7708.0,...,2324.0,93.0,771.0,0.0,0.0,0.0,0.0,0.0,0.0,20230803
311,202307,9호선2~3단계,올림픽공원(한국체대),0.0,0.0,2171.0,732.0,7497.0,6544.0,16824.0,...,6375.0,179.0,2061.0,0.0,17.0,0.0,1.0,0.0,0.0,20230803
312,202307,9호선2~3단계,둔촌오륜,0.0,0.0,388.0,302.0,1299.0,1667.0,3544.0,...,852.0,52.0,268.0,0.0,44.0,0.0,0.0,0.0,0.0,20230803
313,202307,9호선2~3단계,중앙보훈병원,7.0,2.0,3617.0,829.0,17171.0,9962.0,47422.0,...,8653.0,152.0,1944.0,1.0,160.0,0.0,0.0,0.0,0.0,20230803

- WORK_DT(작업일자) 컬럼삭제

In [44]:
subway_1 = subway_1.drop(['WORK_DT'], axis = 1)
subway_1

,USE_MON,LINE_NUM,SUB_STA_NM,FOUR_RIDE_NUM,FOUR_ALIGHT_NUM,FIVE_RIDE_NUM,FIVE_ALIGHT_NUM,SIX_RIDE_NUM,SIX_ALIGHT_NUM,SEVEN_RIDE_NUM,...,TWENTY_THREE_RIDE_NUM,TWENTY_THREE_ALIGHT_NUM,MIDNIGHT_RIDE_NUM,MIDNIGHT_ALIGHT_NUM,ONE_RIDE_NUM,ONE_ALIGHT_NUM,TWO_RIDE_NUM,TWO_ALIGHT_NUM,THREE_RIDE_NUM,THREE_ALIGHT_NUM
0,202307,1호선,서울역,577.0,37.0,8434.0,9396.0,13088.0,51243.0,40143.0,...,25315.0,13987.0,2297.0,2598.0,1.0,219.0,0.0,0.0,0.0,0.0
1,202307,1호선,시청,49.0,5.0,2381.0,4825.0,3784.0,22736.0,7558.0,...,9801.0,4285.0,287.0,1085.0,0.0,12.0,0.0,0.0,0.0,0.0
2,202307,1호선,종각,108.0,3.0,3998.0,5425.0,4429.0,29059.0,6796.0,...,27370.0,4456.0,982.0,927.0,0.0,1.0,0.0,0.0,0.0,0.0
3,202307,1호선,종로3가,170.0,3.0,4576.0,3215.0,4005.0,13121.0,5385.0,...,16784.0,4813.0,1209.0,1932.0,2.0,19.0,0.0,0.0,0.0,0.0
4,202307,1호선,종로5가,63.0,1.0,2049.0,3610.0,3307.0,15768.0,6196.0,...,6575.0,3523.0,262.0,906.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309,202307,9호선2~3단계,송파나루,1.0,0.0,2235.0,407.0,4531.0,1847.0,13211.0,...,2464.0,4186.0,438.0,1566.0,0.0,1.0,0.0,0.0,0.0,0.0
310,202307,9호선2~3단계,한성백제,0.0,0.0,1120.0,289.0,3320.0,1572.0,7708.0,...,684.0,2324.0,93.0,771.0,0.0,0.0,0.0,0.0,0.0,0.0
311,202307,9호선2~3단계,올림픽공원(한국체대),0.0,0.0,2171.0,732.0,7497.0,6544.0,16824.0,...,2872.0,6375.0,179.0,2061.0,0.0,17.0,0.0,1.0,0.0,0.0
312,202307,9호선2~3단계,둔촌오륜,0.0,0.0,388.0,302.0,1299.0,1667.0,3544.0,...,213.0,852.0,52.0,268.0,0.0,44.0,0.0,0.0,0.0,0.0
313,202307,9호선2~3단계,중앙보훈병원,7.0,2.0,3617.0,829.0,17171.0,9962.0,47422.0,...,1047.0,8653.0,152.0,1944.0,1.0,160.0,0.0,0.0,0.0,0.0

- 컬럼명 바꾸기(우리말로 하면 너무 길어지니까 조금 나중에 해볼까..)
- USE_MON : 사용월 / LINE_NUM : 호선명 / SUB_STA_NM : 지하철역 / FOUR_RIDE_NUM :04시-05시 승차인원(명) / 	FOUR_ALIGHT_NU : 	04시-05시 하차인(명)
- 이런식으로 날짜별로 데이터를 모아야할지? 기간은?원

In [45]:
subway_1.to_csv("3_시간별역별승하차정보.csv")