# 팀 정해짐

## 주제 : 대중교통 혼잡도 분산을 위한 예측과 서비스 개발

- 23.08.19 : 할일 정함
  - 김은채 할일 : 서울의 대중교통 시간대별 사람들 카운팅하기

---

순서

1. 서울데이터 - 행정동별 대중교통 승차정보 + 동 이름 => 수집과 알아먹게 전처리
2. 찾는중

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import requests
import matplotlib.pyplot as plt
import json
import datetime

## 웹 크롤링

### 서울데이터 - 행정동별 대중교통 총 승차 승객 정보
[승차승객링크](https://data.seoul.go.kr/dataList/OA-21223/S/1/datasetView.do)

[읍면동 마스터 정보](https://data.seoul.go.kr/dataList/OA-21234/S/1/datasetView.do)

#### 데이터 불러오기 - 승차승객 + 읍면동ID

In [5]:
# 서울열린데이터 - 대중교통 총 승차 승객

# 01은 승차승객
# 02는 동이름 ID

SERVICE_KEY01 = '46457866686b696d3637555241506f'
url01 = 'http://openapi.seoul.go.kr:8088/{}/json/tpssPassengerCnt/1/999'.format(SERVICE_KEY01)

SERVICE_KEY02 = '46496769666b696d313130737a564e75'
url02 = 'http://openapi.seoul.go.kr:8088/{}/json/districtEmd/1/999'.format(SERVICE_KEY02)

req01 = requests.get(url01)
print(req01)
print(type(req01))


req02 = requests.get(url02)
print(req02)
print(type(req02))

<Response [200]>
<class 'requests.models.Response'>
<Response [200]>
<class 'requests.models.Response'>

In [6]:
content01 = req01.json()
print(type(content01))
###################################
content02 = req02.json()
print(type(content02))
# print(content)
# content 구성은 URL로 확인 - 너무 길다

<class 'dict'>
<class 'dict'>

In [47]:
content02.keys()

dict_keys(['districtEmd'])

In [4]:
content02['districtEmd'].keys()

dict_keys(['list_total_count', 'RESULT', 'row'])

In [5]:
print(type(content02['districtEmd']['row'][0]))
# content['tpssPassengerCnt']['row']

<class 'dict'>

In [7]:
import pandas as pd

con01 = content01['tpssPassengerCnt']['row']
PSG = pd.DataFrame(con01)
PSG.head(10)

,CRTR_DT,ADMDONG_ID,PSGR_CNT,PSGR_CNT_00HH,PSGR_CNT_01HH,PSGR_CNT_02HH,PSGR_CNT_03HH,PSGR_CNT_04HH,PSGR_CNT_05HH,PSGR_CNT_06HH,...,PSGR_CNT_14HH,PSGR_CNT_15HH,PSGR_CNT_16HH,PSGR_CNT_17HH,PSGR_CNT_18HH,PSGR_CNT_19HH,PSGR_CNT_20HH,PSGR_CNT_21HH,PSGR_CNT_22HH,PSGR_CNT_23HH
0,20230818,1115065,3605.0,9.0,0.0,0.0,0.0,10.0,46.0,194.0,...,146.0,197.0,238.0,214.0,276.0,150.0,107.0,146.0,137.0,46.0
1,20230818,1113065,6124.0,113.0,17.0,2.0,2.0,3.0,51.0,95.0,...,353.0,423.0,455.0,462.0,563.0,464.0,314.0,351.0,265.0,229.0
2,20230818,1112074,15952.0,98.0,15.0,8.0,14.0,260.0,358.0,691.0,...,680.0,807.0,1105.0,990.0,1066.0,909.0,688.0,587.0,595.0,276.0
3,20230818,1112071,48567.0,192.0,43.0,22.0,10.0,155.0,762.0,2431.0,...,2429.0,2979.0,3361.0,3201.0,2990.0,2132.0,1610.0,1434.0,1218.0,560.0
4,20230818,1112067,20021.0,125.0,23.0,11.0,7.0,78.0,464.0,998.0,...,760.0,855.0,999.0,1181.0,1528.0,1004.0,713.0,618.0,517.0,351.0
5,20230818,1112066,20801.0,54.0,3.0,0.0,3.0,89.0,583.0,1220.0,...,812.0,1328.0,1028.0,979.0,976.0,684.0,472.0,371.0,286.0,171.0
6,20230818,1112060,7341.0,14.0,3.0,0.0,0.0,36.0,165.0,471.0,...,335.0,314.0,387.0,438.0,379.0,237.0,170.0,122.0,128.0,65.0
7,20230818,1112059,19723.0,125.0,4.0,0.0,0.0,187.0,383.0,685.0,...,887.0,1064.0,1167.0,1361.0,1607.0,1311.0,950.0,832.0,694.0,369.0
8,20230818,1112058,35976.0,115.0,29.0,12.0,2.0,107.0,595.0,1306.0,...,1666.0,1995.0,2363.0,2407.0,2736.0,1841.0,1396.0,1236.0,1120.0,540.0
9,20230818,1112057,10941.0,18.0,14.0,3.0,12.0,198.0,280.0,654.0,...,418.0,746.0,691.0,592.0,545.0,435.0,270.0,261.0,220.0,72.0

In [8]:
PSG.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CRTR_DT        999 non-null    object
 1   ADMDONG_ID     999 non-null    object
 2   PSGR_CNT       999 non-null    float64
 3   PSGR_CNT_00HH  999 non-null    float64
 4   PSGR_CNT_01HH  999 non-null    float64
 5   PSGR_CNT_02HH  999 non-null    float64
 6   PSGR_CNT_03HH  999 non-null    float64
 7   PSGR_CNT_04HH  999 non-null    float64
 8   PSGR_CNT_05HH  999 non-null    float64
 9   PSGR_CNT_06HH  999 non-null    float64
 10  PSGR_CNT_07HH  999 non-null    float64
 11  PSGR_CNT_08HH  999 non-null    float64
 12  PSGR_CNT_09HH  999 non-null    float64
 13  PSGR_CNT_10HH  999 non-null    float64
 14  PSGR_CNT_11HH  999 non-null    float64
 15  PSGR_CNT_12HH  999 non-null    float64
 16  PSGR_CNT_13HH  999 non-null    float64
 17  PSGR_CNT_14HH  999 non-null    float64
 18  PSGR_CNT_15HH  999 non-null    float64
 19  PSGR_CNT_16HH  999 non-null    float64
 20  PSGR_CNT_17HH  999 non-null    float64
 21  PSGR_CNT_18HH  999 non-null    float64
 22  PSGR_CNT_19HH  999 non-null    float64
 23  PSGR_CNT_20HH  999 non-null    float64
 24  PSGR_CNT_21HH  999 non-null    float64
 25  PSGR_CNT_22HH  999 non-null    float64
 26  PSGR_CNT_23HH  999 non-null    float64
dtypes: float64(25), object(2)
memory usage: 210.9+ KB

In [9]:
con02 = content02['districtEmd']['row']
D_ID = pd.DataFrame(con02)
D_ID.head()

  ADMDONG_ID ADMDONG_NM ATDRC_NM SIDO_NM
0    1101053        사직동      종로구      서울
1    1101054        삼청동      종로구      서울
2    1101055        부암동      종로구      서울
3    1101056        평창동      종로구      서울
4    1101057        무악동      종로구      서울

In [10]:
D_ID.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ADMDONG_ID  999 non-null    object
 1   ADMDONG_NM  999 non-null    object
 2   ATDRC_NM    999 non-null    object
 3   SIDO_NM     999 non-null    object
dtypes: object(4)
memory usage: 31.3+ KB

---
전처리 기초 - 열 이름 처리


- PSG : 시간별 승차인원

    - CRTR_DT(타입 변경 및 쪼개기)
        - CRTR_DT : int -> DayTime
        - CRTR_DT : DT / Year / Month / Day
 
    - ADMDONG_ID(열에 다른 DF 열들 추가하기)
        - ADMDONG_ID : Dong_name
 
    - PSGR_CNT(열 이름 바꾸기)
        - PSGR_CNT : CNT_ALL
 
    - PSGR_CNT_XXHH(열 합치기)
        - 03 ~ 06 : Early_Morning
        - 07 ~ 09 : Rush_Hour_M
        - 10 ~ 16 : Day_Time
        - 17 ~ 20 : Rush_Hour_N
        - 21 ~ 02 : Late_Night
---
     
- D_ID : 읍면동 ID 넘버

    - ADMDONG_ID : 이거 기준 합칠거 => 합치고 얘만 지우기

##### 날짜변경

In [11]:
PSG['CRTR_DT']

0      20230818
1      20230818
2      20230818
3      20230818
4      20230818
         ...
994    20230816
995    20230816
996    20230816
997    20230816
998    20230816
Name: CRTR_DT, Length: 999, dtype: object

In [12]:
PSG['CRTR_DT'] = pd.to_datetime(PSG['CRTR_DT'])

PSG.head(1)
# # pd.to_datetime(df)

,CRTR_DT,ADMDONG_ID,PSGR_CNT,PSGR_CNT_00HH,PSGR_CNT_01HH,PSGR_CNT_02HH,PSGR_CNT_03HH,PSGR_CNT_04HH,PSGR_CNT_05HH,PSGR_CNT_06HH,...,PSGR_CNT_14HH,PSGR_CNT_15HH,PSGR_CNT_16HH,PSGR_CNT_17HH,PSGR_CNT_18HH,PSGR_CNT_19HH,PSGR_CNT_20HH,PSGR_CNT_21HH,PSGR_CNT_22HH,PSGR_CNT_23HH
0,2023-08-18,1115065,3605.0,9.0,0.0,0.0,0.0,10.0,46.0,194.0,...,146.0,197.0,238.0,214.0,276.0,150.0,107.0,146.0,137.0,46.0

In [13]:
PSG['Year'] = PSG['CRTR_DT'].dt.year
PSG['Month'] = PSG['CRTR_DT'].dt.month
PSG['Day'] = PSG['CRTR_DT'].dt.day

# PSG['CRTR_DT'][0][:4]
PSG.head(1)

,CRTR_DT,ADMDONG_ID,PSGR_CNT,PSGR_CNT_00HH,PSGR_CNT_01HH,PSGR_CNT_02HH,PSGR_CNT_03HH,PSGR_CNT_04HH,PSGR_CNT_05HH,PSGR_CNT_06HH,...,PSGR_CNT_17HH,PSGR_CNT_18HH,PSGR_CNT_19HH,PSGR_CNT_20HH,PSGR_CNT_21HH,PSGR_CNT_22HH,PSGR_CNT_23HH,Year,Month,Day
0,2023-08-18,1115065,3605.0,9.0,0.0,0.0,0.0,10.0,46.0,194.0,...,214.0,276.0,150.0,107.0,146.0,137.0,46.0,2023,8,18

In [104]:
# df.drop(['B', 'C'], axis=1)
# 열삭제

PSG_02 = PSG.drop(['CRTR_DT'], axis=1).copy()

PSG_02

,ADMDONG_ID,PSGR_CNT,PSGR_CNT_00HH,PSGR_CNT_01HH,PSGR_CNT_02HH,PSGR_CNT_03HH,PSGR_CNT_04HH,PSGR_CNT_05HH,PSGR_CNT_06HH,PSGR_CNT_07HH,...,PSGR_CNT_17HH,PSGR_CNT_18HH,PSGR_CNT_19HH,PSGR_CNT_20HH,PSGR_CNT_21HH,PSGR_CNT_22HH,PSGR_CNT_23HH,Year,Month,Day
0,1117064,11638.0,34.0,14.0,10.0,13.0,111.0,242.0,503.0,1018.0,...,771.0,985.0,859.0,555.0,505.0,394.0,229.0,2023,8,16
1,1113052,18762.0,17.0,5.0,6.0,1.0,191.0,470.0,772.0,1700.0,...,1180.0,1307.0,673.0,526.0,456.0,306.0,140.0,2023,8,16
2,1112068,9455.0,29.0,15.0,5.0,2.0,83.0,149.0,563.0,1346.0,...,612.0,742.0,404.0,225.0,208.0,149.0,89.0,2023,8,16
3,1112073,12355.0,40.0,13.0,7.0,5.0,126.0,169.0,381.0,928.0,...,838.0,1017.0,721.0,520.0,475.0,368.0,171.0,2023,8,16
4,1112056,18864.0,75.0,29.0,13.0,5.0,59.0,331.0,851.0,1985.0,...,979.0,1119.0,926.0,655.0,592.0,589.0,275.0,2023,8,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,1106088,14517.0,59.0,6.0,3.0,1.0,83.0,324.0,579.0,1363.0,...,955.0,1059.0,865.0,536.0,466.0,479.0,178.0,2023,8,14
995,1106084,8790.0,21.0,5.0,5.0,6.0,58.0,177.0,411.0,798.0,...,567.0,577.0,416.0,294.0,207.0,195.0,76.0,2023,8,14
996,1106071,7357.0,41.0,14.0,7.0,6.0,26.0,51.0,97.0,284.0,...,821.0,422.0,299.0,207.0,237.0,222.0,77.0,2023,8,14
997,1105066,6320.0,13.0,1.0,2.0,3.0,29.0,59.0,161.0,334.0,...,448.0,572.0,455.0,404.0,296.0,298.0,140.0,2023,8,14
998,1105062,38045.0,95.0,2.0,0.0,0.0,3.0,359.0,1063.0,2981.0,...,2331.0,2788.0,2177.0,1671.0,1544.0,1279.0,495.0,2023,8,14

##### 동이름보이게 = PSG_02 + D_ID

In [105]:
# df1.merge(df2, how='inner', on='a')

PSG_02 = PSG_02.merge(D_ID, how='inner', on='ADMDONG_ID')
PSG_02.head(1).T

                     0
ADMDONG_ID     1117064
PSGR_CNT       11638.0
PSGR_CNT_00HH     34.0
PSGR_CNT_01HH     14.0
PSGR_CNT_02HH     10.0
PSGR_CNT_03HH     13.0
PSGR_CNT_04HH    111.0
PSGR_CNT_05HH    242.0
PSGR_CNT_06HH    503.0
PSGR_CNT_07HH   1018.0
PSGR_CNT_08HH    993.0
PSGR_CNT_09HH    667.0
PSGR_CNT_10HH    506.0
PSGR_CNT_11HH    445.0
PSGR_CNT_12HH    478.0
PSGR_CNT_13HH    508.0
PSGR_CNT_14HH    485.0
PSGR_CNT_15HH    615.0
PSGR_CNT_16HH    698.0
PSGR_CNT_17HH    771.0
PSGR_CNT_18HH    985.0
PSGR_CNT_19HH    859.0
PSGR_CNT_20HH    555.0
PSGR_CNT_21HH    505.0
PSGR_CNT_22HH    394.0
PSGR_CNT_23HH    229.0
Year              2023
Month                8
Day                 16
ADMDONG_NM        개봉2동
ATDRC_NM           구로구
SIDO_NM             서울

---
ADMDONG_ID, SIDO_NM(서울밖에없음) Drop

---

In [106]:
PSG_02 = PSG_02.drop(['ADMDONG_ID', 'SIDO_NM'], axis=1)

PSG_02

,PSGR_CNT,PSGR_CNT_00HH,PSGR_CNT_01HH,PSGR_CNT_02HH,PSGR_CNT_03HH,PSGR_CNT_04HH,PSGR_CNT_05HH,PSGR_CNT_06HH,PSGR_CNT_07HH,PSGR_CNT_08HH,...,PSGR_CNT_19HH,PSGR_CNT_20HH,PSGR_CNT_21HH,PSGR_CNT_22HH,PSGR_CNT_23HH,Year,Month,Day,ADMDONG_NM,ATDRC_NM
0,11638.0,34.0,14.0,10.0,13.0,111.0,242.0,503.0,1018.0,993.0,...,859.0,555.0,505.0,394.0,229.0,2023,8,16,개봉2동,구로구
1,7470.0,24.0,6.0,10.0,11.0,59.0,151.0,214.0,270.0,298.0,...,473.0,428.0,372.0,330.0,202.0,2023,8,15,개봉2동,구로구
2,18762.0,17.0,5.0,6.0,1.0,191.0,470.0,772.0,1700.0,2076.0,...,673.0,526.0,456.0,306.0,140.0,2023,8,16,천연동,서대문구
3,18910.0,20.0,2.0,3.0,0.0,51.0,267.0,229.0,360.0,542.0,...,657.0,436.0,314.0,198.0,128.0,2023,8,15,천연동,서대문구
4,18573.0,31.0,2.0,1.0,0.0,183.0,424.0,643.0,1320.0,1734.0,...,700.0,536.0,629.0,337.0,143.0,2023,8,14,천연동,서대문구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,12820.0,20.0,13.0,8.0,9.0,124.0,228.0,587.0,1422.0,1350.0,...,564.0,433.0,343.0,288.0,142.0,2023,8,16,고척1동,구로구
995,11134.0,65.0,16.0,12.0,12.0,44.0,142.0,178.0,227.0,358.0,...,394.0,435.0,431.0,1879.0,377.0,2023,8,15,고척1동,구로구
996,13892.0,43.0,18.0,7.0,3.0,177.0,305.0,714.0,1905.0,1710.0,...,576.0,386.0,302.0,273.0,147.0,2023,8,16,남가좌1동,서대문구
997,7627.0,42.0,8.0,5.0,3.0,52.0,131.0,183.0,244.0,380.0,...,350.0,237.0,251.0,194.0,88.0,2023,8,15,남가좌1동,서대문구
998,12573.0,59.0,17.0,9.0,4.0,179.0,253.0,532.0,1268.0,1356.0,...,571.0,364.0,317.0,228.0,145.0,2023,8,14,남가좌1동,서대문구

##### PSGR - 합치기 / 전체 이름 안바꿔도 될듯

- PSGR_CNT_XXHH(열 합치기)
  - 03 ~ 06 : Early_Morning
    - 07 ~ 09 : Rush_Hour_M
    - 10 ~ 16 : Day_Time
    - 17 ~ 20 : Rush_Hour_N
    - 21 ~ 02 : Late_Night

In [107]:
# print(PSG_02['PSGR_CNT_03HH'] + PSG_02['PSGR_CNT_04HH'])
# 다 치기 너무 귀찮다!!!!!!

def com_Hour(i):
    ranges = {
        'Early_Morning': range(3, 7),  # 03 ~ 06
        'Rush_Hour_M': range(7, 10),  # 07 ~ 09
        'Day_Time': range(10, 17),    # 10 ~ 16
        'Rush_Hour_N': range(17, 21), # 17 ~ 20
        'Late_Night': list(range(21, 24)) + list(range(0, 3))  # 21 ~ 02
    }

    combined_values = [i[f'PSGR_CNT_{hour:02d}HH'] for hour in range(24)]
    result = {}
    
    for time_range, hours in ranges.items():
        result[time_range] = sum(combined_values[hour] for hour in hours)
    
    return pd.Series(result)

# 열 합치기 함수 적용
combined_hours_df = PSG_02.apply(combine_hours, axis=1)

# 결과 데이터프레임에 열 추가
PSG_02 = pd.concat([PSG_02, combined_hours_df], axis=1)

# 'PSGR_CNT_XXHH' 열 삭제
PSG_02 = PSG_02.drop(columns=[f'PSGR_CNT_{hour:02d}HH' for hour in range(24)])

# 결과 확인
PSG_02.head(1)

,PSGR_CNT,Year,Month,Day,ADMDONG_NM,ATDRC_NM,Early_Morning,Rush_Hour_M,Day_Time,Rush_Hour_N,Late_Night
0,11638.0,2023,8,16,개봉2동,구로구,390.0,2514.0,3704.0,3313.0,13126.0

#### 열 순서 보기좋게-끝

In [109]:
PSG_02 = PSG_02[['Year', 'Month', 'Day', 'ADMDONG_NM', 'ATDRC_NM','PSGR_CNT', 'Early_Morning', 'Rush_Hour_M', 'Day_Time', 'Rush_Hour_N', 'Late_Night']]

PSG_02

,Year,Month,Day,ADMDONG_NM,ATDRC_NM,PSGR_CNT,Early_Morning,Rush_Hour_M,Day_Time,Rush_Hour_N,Late_Night
0,2023,8,16,개봉2동,구로구,11638.0,390.0,2514.0,3704.0,3313.0,13126.0
1,2023,8,15,개봉2동,구로구,7470.0,237.0,782.0,2944.0,2151.0,8624.0
2,2023,8,16,천연동,서대문구,18762.0,673.0,4548.0,7895.0,4201.0,20067.0
3,2023,8,15,천연동,서대문구,18910.0,323.0,1131.0,10764.0,5596.0,19878.0
4,2023,8,14,천연동,서대문구,18573.0,610.0,3697.0,7918.0,4672.0,20106.0
...,...,...,...,...,...,...,...,...,...,...,...
994,2023,8,16,고척1동,구로구,12820.0,382.0,3359.0,4802.0,3051.0,13904.0
995,2023,8,15,고척1동,구로구,11134.0,226.0,763.0,4558.0,2400.0,13944.0
996,2023,8,16,남가좌1동,서대문구,13892.0,510.0,4329.0,4982.0,2920.0,14896.0
997,2023,8,15,남가좌1동,서대문구,7627.0,199.0,807.0,3951.0,1858.0,8351.0
998,2023,8,14,남가좌1동,서대문구,12573.0,462.0,3156.0,4970.0,2872.0,13541.0

In [112]:
PSG_02['ADMDONG_NM'].value_counts()

ADMDONG_NM
신사동        5
남가좌1동      3
신사1동       3
묵2동        3
장안1동       3
          ..
송정동        2
용답동        2
왕십리도선동     2
금호2,3가동    2
용문동        2
Name: count, Length: 423, dtype: int64

In [113]:
PSG_02.head()

,Year,Month,Day,ADMDONG_NM,ATDRC_NM,PSGR_CNT,Early_Morning,Rush_Hour_M,Day_Time,Rush_Hour_N,Late_Night
0,2023,8,16,개봉2동,구로구,11638.0,390.0,2514.0,3704.0,3313.0,13126.0
1,2023,8,15,개봉2동,구로구,7470.0,237.0,782.0,2944.0,2151.0,8624.0
2,2023,8,16,천연동,서대문구,18762.0,673.0,4548.0,7895.0,4201.0,20067.0
3,2023,8,15,천연동,서대문구,18910.0,323.0,1131.0,10764.0,5596.0,19878.0
4,2023,8,14,천연동,서대문구,18573.0,610.0,3697.0,7918.0,4672.0,20106.0

### 공공 데이터 - 서울교통공사_지하철혼잡도정보

[공공데이터 링크](https://www.data.go.kr/tcs/dss/selectFileDataDetailView.do?publicDataPk=15071311#/API%20%EB%AA%A9%EB%A1%9D/getuddi%3A75461a18-17a3-42fe-9322-a51148003b69)

#### 데이터 불러오기 - 지하철 혼잡

- 230821_ API 신청했는데 동기화가 안됨. 내일할것
- 230822_ API 등록이아직도 안됨.. 문의넣음
- 230822_02 문의 답변 - 해결 완료

In [14]:
SERVICE_KEY01 = 'hQKpwII66HQKtO6383qRFer0PQtz5izRcyYfq%2BzG6e7dJJZOw2AvFHIA%2B2hfGg4Ow1iCDjnVWm0o7d9dC4MgtA%3D%3D'
Page_start = 1
Page_end = 999

url01 = 'https://api.odcloud.kr/api/15071311/v1/uddi:a5158b81-27c7-4151-ba6c-b912a6f13d39?page={}&perPage={}&serviceKey={}'.format(Page_start, Page_end, SERVICE_KEY01)
req01 = requests.get(url01)
print(req01)
print(type(req01))

# https://api.odcloud.kr/api/15071311/v1/uddi:75461a18-17a3-42fe-9322-a51148003b69?page=1&perPage=10&returnType=json

<Response [200]>
<class 'requests.models.Response'>

In [15]:
content01 = req01.json()
print(type(content01))

<class 'dict'>

In [5]:
content01.keys()

dict_keys(['currentCount', 'data', 'matchCount', 'page', 'perPage', 'totalCount'])

In [27]:
type(content01['data'][0])
# content01['data'][0]
# content01['totalCount']

dict

In [16]:
Subw_d = pd.DataFrame(content01['data'])
Subw_d.head(1)

,10:00~ (%),10:30~ (%),11:00~ (%),11:30~ (%),12:00~ (%),12:30~ (%),13:00~ (%),13:30~ (%),14:00~ (%),14:30~ (%),...,7:30~ (%),8:00~ (%),8:30~ (%),9:00~ (%),9:30~ (%),방향,역명,역번호,요일,호선
0,37.3,30.6,47.8,36.8,39.8,38.4,39.3,38.4,32.4,33.2,...,55.5,67.7,88.4,53.5,58.4,상선,서울역,150,평일,1

In [17]:
Subw_d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 44 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   10:00~ (%)  999 non-null    object
 1   10:30~ (%)  999 non-null    object
 2   11:00~ (%)  999 non-null    object
 3   11:30~ (%)  999 non-null    object
 4   12:00~ (%)  999 non-null    object
 5   12:30~ (%)  999 non-null    object
 6   13:00~ (%)  999 non-null    object
 7   13:30~ (%)  999 non-null    object
 8   14:00~ (%)  999 non-null    object
 9   14:30~ (%)  999 non-null    object
 10  15:00~ (%)  999 non-null    object
 11  15:30~ (%)  999 non-null    object
 12  16:00~ (%)  999 non-null    object
 13  16:30~ (%)  999 non-null    object
 14  17:00~ (%)  999 non-null    object
 15  17:30~ (%)  999 non-null    object
 16  18:00~ (%)  999 non-null    object
 17  18:30~ (%)  999 non-null    object
 18  19:00~ (%)  999 non-null    object
 19  19:30~ (%)  999 non-null    object
 20  20:00~ (%)  999 non-null    object
 21  20:30~ (%)  999 non-null    object
 22  21:00~ (%)  999 non-null    object
 23  21:30~ (%)  999 non-null    object
 24  22:00~ (%)  999 non-null    object
 25  22:30~ (%)  999 non-null    object
 26  23:00~ (%)  999 non-null    object
 27  23:30~ (%)  999 non-null    object
 28  24:00~ (%)  999 non-null    object
 29  24:30~ (%)  999 non-null    object
 30  5:30~ (%)   999 non-null    object
 31  6:00~ (%)   999 non-null    object
 32  6:30~ (%)   999 non-null    object
 33  7:00~ (%)   999 non-null    object
 34  7:30~ (%)   999 non-null    object
 35  8:00~ (%)   999 non-null    object
 36  8:30~ (%)   999 non-null    object
 37  9:00~ (%)   999 non-null    object
 38  9:30~ (%)   999 non-null    object
 39  방향          999 non-null    object
 40  역명          999 non-null    object
 41  역번호         999 non-null    object
 42  요일          999 non-null    object
 43  호선          999 non-null    object
dtypes: object(44)
memory usage: 343.5+ KB

In [18]:
Subw_d[Subw_d['방향'] == '내선']['호선'].value_counts()

호선
2       86
성수지선     5
신정지선     5
Name: count, dtype: int64

In [19]:
Subw_d01 = Subw_d.copy()

---

#### 할거

- 시간 쪼개기
    - 서울시랑같게
   
- 열 삭제
    - 역 번호
   
- 열 추가
    - 각 역 평균 혼잡도(앞에서 쪼갠거 총합) 

- 순서 바꾸기
   - 역명 , 방향, 호선, 요일, 시간주르륵

---

#### 시간 쪼개기

- 우선 열 이름 구성을 보자
    - 9:30~ (%)
    - 이런 형태인데, 뒤의 30을 기준으로 앞이 같은 녀석들을 합치고, 그 후 시간대 나눠합쳐도 좋을 것 같다.

In [54]:
# 30분 단위 묶기

time_columns = Subw_d01.columns[:-5]  # 시간대 열들 선택 (마지막 5개 열은 다른 정보)
for i in range(0, len(time_columns), 2):
    if i + 1 < len(time_columns):  # 인덱스 범위 확인
        start_col = time_columns[i]
        end_col = time_columns[i + 1]
        new_col_name = start_col.split('~')[0]  # 시간대의 시작만 남김
        Subw_d01[new_col_name] = (pd.to_numeric(Subw_d01[start_col]) + pd.to_numeric(Subw_d01[end_col])) / 2  # 숫자로 변환 후 평균 계산
Subw_d01 = Subw_d01.drop(time_columns, axis=1)  # 원래 열 제거

print(Subw_d01)

     방향     역명   역번호   요일 호선  10:00  11:00  12:00  13:00  14:00  ...  19:00  \
0    상선    서울역   150   평일  1  33.95  42.30  39.10  38.85  32.80  ...  31.25
1    상선     시청   151   평일  1  31.70  39.80  37.55  37.15  33.65  ...  37.35
2    상선     종각   152   평일  1  28.50  36.25  36.05  36.70  35.05  ...  43.85
3    상선   종로3가   153   평일  1  30.50  35.90  39.90  40.75  39.20  ...  50.75
4    상선   종로5가   154   평일  1  25.80  31.35  35.65  37.35  37.95  ...  53.65
..   ..    ...   ...  ... ..    ...    ...    ...    ...    ...  ...    ...
994  상선     철산  2749  토요일  7  50.45  51.75  50.80  50.25  47.40  ...  22.90
995  상선  광명사거리  2750  토요일  7  43.70  44.75  43.40  42.55  40.35  ...  20.65
996  상선     천왕  2751  토요일  7  35.55  36.00  34.75  34.75  32.85  ...  17.15
997  상선     온수  2752  토요일  7  32.05  33.65  32.40  32.55  29.90  ...  15.90
998  상선    까치울  2753  토요일  7  59.20  64.35  61.80  62.40  60.00  ...  28.80

     20:00  21:00  22:00  23:00  24:00   5:30   6:30   7:30   8:30
0    18.45  21.35  19.25  11.60   2.40  11.75  27.05  61.60  70.95
1    22.05  26.00  23.90  14.20   5.35  10.15  22.65  46.20  57.00
2    29.35  37.85  37.00  19.60   6.50   8.00  16.85  30.20  37.65
3    33.10  42.25  42.90  21.55   7.40   7.65  16.90  32.50  41.45
4    34.90  42.80  46.25  22.15   7.45   6.70  13.65  25.55  30.20
..     ...    ...    ...    ...    ...    ...    ...    ...    ...
994  18.15  21.10  26.25  18.55    NaN  34.20  27.65  48.70  52.60
995  15.90  18.45  22.80  16.55    NaN  29.60  23.25  42.40  44.75
996  13.05  18.05  19.30  15.65    NaN  19.75  17.50  32.10  34.85
997  13.10  18.75  19.30  12.95    NaN  16.20  17.10  31.30  34.00
998  24.55  29.10  21.90  12.60    NaN  30.60  27.55  45.00  60.50

[999 rows x 24 columns]

In [55]:
Subw_d01.head()

,방향,역명,역번호,요일,호선,10:00,11:00,12:00,13:00,14:00,...,19:00,20:00,21:00,22:00,23:00,24:00,5:30,6:30,7:30,8:30
0,상선,서울역,150,평일,1,33.95,42.30,39.10,38.85,32.80,...,31.25,18.45,21.35,19.25,11.60,2.40,11.75,27.05,61.60,70.95
1,상선,시청,151,평일,1,31.70,39.80,37.55,37.15,33.65,...,37.35,22.05,26.00,23.90,14.20,5.35,10.15,22.65,46.20,57.00
2,상선,종각,152,평일,1,28.50,36.25,36.05,36.70,35.05,...,43.85,29.35,37.85,37.00,19.60,6.50,8.00,16.85,30.20,37.65
3,상선,종로3가,153,평일,1,30.50,35.90,39.90,40.75,39.20,...,50.75,33.10,42.25,42.90,21.55,7.40,7.65,16.90,32.50,41.45
4,상선,종로5가,154,평일,1,25.80,31.35,35.65,37.35,37.95,...,53.65,34.90,42.80,46.25,22.15,7.45,6.70,13.65,25.55,30.20

#### 시간대별

In [59]:
# print(PSG_02['PSGR_CNT_03HH'] + PSG_02['PSGR_CNT_04HH'])
# 다 치기 너무 귀찮다!!!!!!

# def com_Hour(i):
#     ranges = {
#         'Early_Morning': range(3, 7),  # 03 ~ 06
#         'Rush_Hour_M': range(7, 10),  # 07 ~ 09
#         'Day_Time': range(10, 17),    # 10 ~ 16
#         'Rush_Hour_N': range(17, 21), # 17 ~ 20
#         'Late_Night': list(range(21, 24)) + list(range(0, 3))  # 21 ~ 02
#     }

#     combined_values = [i[f'PSGR_CNT_{hour:02d}HH'] for hour in range()]
#     result = {}
    
#     for time_range, hours in ranges.items():
#         result[time_range] = sum(combined_values[hour] for hour in hours)
    
#     return pd.Series(result)

# # 열 합치기 함수 적용
# combined_hours_df = PSG_02.apply(combine_hours, axis=1)

# # 결과 데이터프레임에 열 추가
# PSG_02 = pd.concat([PSG_02, combined_hours_df], axis=1)

# # 'PSGR_CNT_XXHH' 열 삭제
# PSG_02 = PSG_02.drop(columns=[f'PSGR_CNT_{hour:02d}HH' for hour in range(24)])

# # 결과 확인
# PSG_02.head(1)

print("생각해보니 뭔가 정해진거도 없는데 데이터를 이래 헤져놔도 되는가")

생각해보니 뭔가 정해진거도 없는데 데이터를 이래 헤져놔도 되는가